<!DOCTYPE html>
<html lang="en">
	
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Credits</title>
	<link rel="stylesheet" href="/style.css">
</head>
	
<body>
	<h1>Credits</h1>
	<nav>
		<a href="/" class="nav">Back Home</a>
	</nav>
	<h2>Software</h2>
	<ul>
		<li><a href="//auth.itinerary.eu.org">Scratch Auth</a> allows for OAuth from Scratch.</li>
		<li><a href="//scratchdb.lefty.one">ScratchDB</a> allows this app to request user data, as well as topic info.</li>
		<li><a href="//djangobb.org">DJangoBB</a> for some assets.</li>
	</ul>
	<h2>Contributors</h2>
	<p>These are people who contributed to the <a href="//github.com/steve0greatness/Personal-Stickies">Github Repository</a>, or gave ideas on the <a href="https://scratch.mit.edu/discuss/topic/604367">Forum Thread</a>(or also on the repository) that got implimented.</p>
	<ul>
		<% for (let user of body) { %>
		<li>
			<%- user.names.shown -%>:
			<% if ('scratch' in user.names) { %>
			<a href="//scratch.mit.edu/users/<%- user.names.scratch -%>">Scratch</a><% } %><% if ('scratch' in user.names && 'github' in user.names) { %>,<% } %>
			<% if ('github' in user.names) { %><a href="//github.com/<%- user.names.github -%>">Github</a><% } %>;
			<% for (let role of user.roles) { %>
			<span title="<%- role.name -%>" class="emoji"><%- role.emoji -%></span>
			<% } %>
		</li>
		<% } %>
	</ul>
</body>
	
</html>